<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Login page</title>

</head>
<body>

<form action="#" method="post" th:action="@{/login}" th:object="${loginForm}">
    <span th:errors="*{global}" th:if="${#fields.hasGlobalErrors()}">Global error</span><br/>  <!-- Add this line -->
    <input placeholder="User" th:field="*{user}" type="text" th:min="6" th:maxlength="15"/>
    <span th:errors="*{user}" th:if="${#fields.hasErrors('user')}">User error</span><br/>
    <input placeholder="Password" th:field="*{password}" type="password", th:min="8" th:maxlength="15"/>
    <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password error</span><br/>
    <button type="submit">Login</button>
</form>

<form action="#" method="get" th:action="@{/register}">
    <button type="submit">Register</button>
</form>


</body>
</html>