<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<!--<head>-->
    <title>Profile Setup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Profile Setup</h1>
<form action="#" th:action="@{/profilesetup}" th:object="${userProfileForm}" method="post">
    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>  <!-- Add this line -->
    <input type="text" th:field="*{fname}" placeholder="First Name"/>
    <span th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}">First Name Error</span><br/>
    <input type="text" th:field="*{lname}" placeholder="Last Name"/>
    <span th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}">Last Name error</span><br/>
    <input type="tel" th:field="*{phone}" placeholder="Phone"/>
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone error</span><br/>
    <button type="submit">Submit Profile Setup</button>
</form>
</body>
</html>