<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<!--<head>-->
<title>Profile Setup</title>
<h1 th:text="'Welcome ' + ${user} + '.'"/>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Profile Setup</h1>
<form action="#" method="post" th:action="@{/profilesetup}" th:object="${userProfileForm}">
    <input name="user" type="hidden" value="*{user}"/>
    <span th:errors="*{global}" th:if="${#fields.hasGlobalErrors()}">Global error</span><br/>  <!-- Add this line -->
    <input placeholder="First Name" th:field="*{fname}" type="text"/>
    <span th:errors="*{fname}" th:if="${#fields.hasErrors('fname')}">First Name Error</span><br/>
    <input placeholder="Last Name" th:field="*{lname}" type="text"/>
    <span th:errors="*{lname}" th:if="${#fields.hasErrors('lname')}">Last Name error</span><br/>
    <input placeholder="Phone" th:field="*{phone}" type="tel"/>
    <span th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}">Phone error</span><br/>
    <button type="submit">Submit Profile Setup</button>
</form>
</body>
</html>