<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration Complete</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<!-- Register page that allows the user to save their
credentials to the Login database. Once entered and correct parameter are met
the user is allowed to then login. When register button is clicked the template
forwards the user to the register success page which has a login hyperlink to
forward back to the login page-->

<form action="#" method="post" th:action="@{/registerSuccess}">
    <h1>Successfully Registration</h1>
    <p th:text="'Welcome are you ready to login ' + ${user}"/>
    <button type="submit">Login</button>
</form>
</body>
</html>