<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Registration</h1>
<form action="#" th:action="@{/register}" th:object="${registerForm}" method="post">
    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>  <!-- Add this line -->
    <input type="text" th:field="*{user}" placeholder="User"/>
    <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}">User error</span><br/>
    <input type="password" th:field="*{password}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span><br/>
    <button type="submit">Register</button>
</form>
</body>
</html>