<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Training Logs</title>
</head>
<body>

<!-- Training log page has the user enter training events to save
into the database. Once entered and correct parameter are met
the user is allowed to submit. When Submit Training button is clicked the template
reloads the user page with updated entries. The page also has a logout button and a profile
setup button-->

<form action="#" method="post" th:action="@{/logout}">
    <input name="user" type="hidden" value="*{user}"/>
    <button type="submit">Logout</button>
</form>
<form action="#" method="get" th:action="@{/profilesetup}">
    <input name="user" type="hidden" value="*{user}"/>
    <button type="submit">Profile Setup</button>
</form>
<h1 th:text="'Welcome to the traing logs ' + ${fname} + ' ' + ${lname} "/>
<h1></h1>Enter Logs</a>
<form action="#" method="post" th:action="@{/traininglog}" th:object="${trainingForm}">
    <input name="user" type="hidden" value="*{user}"/>
    <input name="fname" th:value="${fname}" type="hidden"/>
    <input name="lname" th:value="${lname}" type="hidden"/>
    <span th:errors="*{global}" th:if="${#fields.hasGlobalErrors()}">Global error</span><br/>  <!-- Add this line -->
    <input placeholder="Date of training" th:field="*{date}" type="date"/>
    <span th:errors="*{date}" th:if="${#fields.hasErrors('date')}">Date Error</span><br/>
    <input placeholder="Training location" th:field="*{location}" th:maxlength="15" th:min="2" type="text"/>
    <span th:errors="*{location}" th:if="${#fields.hasErrors('location')}">Location error</span><br/>
    <input placeholder="Training activity" th:field="*{training}" th:maxlength="15" th:min="3" type="text"/>
    <span th:errors="*{training}" th:if="${#fields.hasErrors('training')}">Training error</span><br/>
    <input placeholder="Training comments" th:field="*{comments}" th:maxlength="20" th:min="3" type="text"/>
    <span th:errors="*{comments}" th:if="${#fields.hasErrors('comments')}">Comments error</span><br/>
    <button type="submit">Submit Training</button>
</form>

<table class="table table-bordered table-striped">
    <tr>
        <th>Date</th>
        <th>Training</th>
        <th>Location</th>
        <th>Comment</th>
    </tr>
    <tbody>
    <tr th:each="training:${trainings}">
        <td th:text="${training.date}"/>
        <td th:text="${training.training}"/>
        <td th:text="${training.location}"/>
        <td th:text="${training.comments}"/>
    </tr>
    </tbody>

</table>
</body>
</html>