<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Training Logs</title>
</head>
<body>
<h1 th:text="'Welcome to the traing logs ' + ${fname} + ' ' + ${lname} "/>
<h1></h1>Enter Logs</a>
<form action="#" method="post" th:action="@{/traininglog}" th:object="${trainingForm}">
    <span th:errors="*{global}" th:if="${#fields.hasGlobalErrors()}">Global error</span><br/>  <!-- Add this line -->
    <input type="hidden" name="fname" th:value="${fname}"/>
    <input type="hidden" name="lname" th:value="${lname}"/>
    <input placeholder="Date of training" th:field="*{date}" type="date"/>
    <span th:errors="*{date}" th:if="${#fields.hasErrors('date')}">First Name Error</span><br/>
    <input placeholder="Training location" th:field="*{location}" type="text"/>
    <span th:errors="*{location}" th:if="${#fields.hasErrors('location')}">Last Name error</span><br/>
    <input placeholder="Training activity" th:field="*{training}" type="text"/>
    <span th:errors="*{training}" th:if="${#fields.hasErrors('training')}">Phone error</span><br/>
    <input placeholder="Training comments" th:field="*{comments}" type="text"/>
    <span th:errors="*{comments}" th:if="${#fields.hasErrors('comments')}">Phone error</span><br/>
    <button type="submit">Submit Profile Setup</button>
</form>

<table class="table table-bordered table-striped">
    <tr>
        <th>Date</th>
        <th>Training</th>
        <th>Location</th>
        <th>Comment</th>
    </tr>
    <tbody>
    <tr th:each="training: ${trainings}">
        <td th:text="${training.date}"/>
        <td th:text="${training.training}"/>
        <td th:text="${training.location}"/>
        <td th:text="${training.comments}"/>
    </tr>
    </tbody>

</table>
</body>
</html>
<--test-->